.box {
    height: 400px;
    background-color: lightgray;
}

.dayLight {
    background-color: rgba(238, 238, 9, 0.801);
}

.box {
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    text-align: center;
}